 PROJECT OBJECTIVE: The need is to build a NLP classifier which can use input text parameters to determine the label/s of the blog.
Steps and tasks:
1. Import and analyse the data set.
2. Perform data pre-processing on the data:
• Data cleansing by removing unwanted characters, spaces, stop words etc. Convert text to lowercase.
• Target/label merger and transformation
• Train and test split
• Vectorisation, etc.
3. Design, train, tune and test the best text classifier.
4. Display and explain detail the classification report
5. Print the true vs predicted labels for any 5 entries from the dataset

In [ ]:

# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Setting the current working directory
import os; os.chdir('drive/My Drive/NLP')

In [ ]:
# https://drive.google.com/file/d/1LnJyGEmbtcG_WwkEKbVfzRdbMBV0oK6Z/view?usp=sharing

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re # regular expression
import nltk

import os
for dirname, _, filenames in os.walk('drive/My Drive/NLP'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
data=pd.read_csv("blogtext.csv")

In [ ]:
data.head(10)

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...
5  3581210  ...               I had an interesting conversation...
6  3581210  ...               Somehow Coca-Cola has a way of su...
7  3581210  ...               If anything, Korea is a country o...
8  3581210  ...               Take a read of this news article ...
9  3581210  ...               I surf the English news sites a l...

[10 rows x 7 columns]

In [ ]:
data.isna().any()

id        False
gender    False
age       False
topic     False
sign      False
date      False
text      False
dtype: bool

In [ ]:
data.shape

(681284, 7)

In [ ]:
data=data.head(10000)
#Taking a subset of the entire dataset to do the analysis.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10000 non-null  int64
 1   gender  10000 non-null  object
 2   age     10000 non-null  int64
 3   topic   10000 non-null  object
 4   sign    10000 non-null  object
 5   date    10000 non-null  object
 6   text    10000 non-null  object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [ ]:
data.drop(['id','date'], axis=1, inplace=True)

In [ ]:
data.head()

  gender  age  ...      sign                                               text
0   male   15  ...       Leo             Info has been found (+/- 100 pages,...
1   male   15  ...       Leo             These are the team members:   Drewe...
2   male   15  ...       Leo             In het kader van kernfusie op aarde...
3   male   15  ...       Leo                   testing!!!  testing!!!
4   male   33  ...  Aquarius               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 5 columns]

In [ ]:
data['age']=data['age'].astype('object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  10000 non-null  object
 1   age     10000 non-null  object
 2   topic   10000 non-null  object
 3   sign    10000 non-null  object
 4   text    10000 non-null  object
dtypes: object(5)
memory usage: 390.8+ KB

In [ ]:
data['clean_data']=data['text'].apply(lambda x: re.sub(r'[^A-Za-z]+',' ',x))

In [ ]:
data['clean_data']=data['clean_data'].apply(lambda x: x.lower())

In [ ]:
data['clean_data']=data['clean_data'].apply(lambda x: x.strip())

In [ ]:
print("Actual data=======> {}".format(data['text'][1]))

Actual data=======>            These are the team members:   Drewes van der Laag           urlLink mail  Ruiyu Xie                     urlLink mail  Bryan Aaldering (me)          urlLink mail

In [ ]:
print("Cleaned data=======> {}".format(data['clean_data'][1]))

Cleaned data=======> these are the team members drewes van der laag urllink mail ruiyu xie urllink mail bryan aaldering me urllink mail

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords
stopwords=set(stopwords.words('english'))

In [ ]:
data['clean_data']=data['clean_data'].apply(lambda x: ' '.join([words for words in x.split() if words not in stopwords]))

In [ ]:
data['clean_data'][6]

'somehow coca cola way summing things well early flagship jingle like buy world coke tune like teach world sing pretty much summed post woodstock era well add much sales catchy tune korea coke theme urllink stop thinking feel pretty much sums lot korea koreans look relaxed couple stopped thinking started feeling course high regard education math logic deep think many koreans really like work emotion anything else westerners seem sublimate moreso least display different way maybe scratch westerners koreans probably pretty similar context different anyways think losing korea repeat stop thinking feel stop thinking feel stop thinking feel everything alright'

In [ ]:
data['labels']=data.apply(lambda col: [col['gender'],str(col['age']),col['topic'],col['sign']], axis=1)

In [ ]:
data.head()

  gender  ...                                   labels
0   male  ...                 [male, 15, Student, Leo]
1   male  ...                 [male, 15, Student, Leo]
2   male  ...                 [male, 15, Student, Leo]
3   male  ...                 [male, 15, Student, Leo]
4   male  ...  [male, 33, InvestmentBanking, Aquarius]

[5 rows x 7 columns]

In [ ]:
data=data[['clean_data','labels']]

In [ ]:
data.head()

                                          clean_data                                   labels
0  info found pages mb pdf files wait untill team...                 [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...                 [male, 15, Student, Leo]
2  het kader van kernfusie op aarde maak je eigen...                 [male, 15, Student, Leo]
3                                    testing testing                 [male, 15, Student, Leo]
4  thanks yahoo toolbar capture urls popups means...  [male, 33, InvestmentBanking, Aquarius]

In [ ]:
X=data['clean_data']

In [ ]:
Y=data['labels']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vectorizer=CountVectorizer(binary=True, ngram_range=(1,2))

In [ ]:
X=vectorizer.fit_transform(X)

In [ ]:
X[1]

<1x643302 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [ ]:
vectorizer.get_feature_names()[:5]

['aa', 'aa amazing', 'aa anger', 'aa compared', 'aa keeps']

In [ ]:
label_counts=dict()

for labels in data.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label]+=1
        else:
            label_counts[label]=1

In [ ]:
label_counts

{'13': 42,
 '14': 212,
 '15': 602,
 '16': 440,
 '17': 1185,
 '23': 253,
 '24': 655,
 '25': 386,
 '26': 234,
 '27': 1054,
 '33': 136,
 '34': 553,
 '35': 2315,
 '36': 1708,
 '37': 33,
 '38': 46,
 '39': 79,
 '40': 1,
 '41': 20,
 '42': 14,
 '43': 6,
 '44': 3,
 '45': 16,
 '46': 7,
 'Accounting': 4,
 'Aquarius': 571,
 'Aries': 4198,
 'Arts': 45,
 'Automotive': 14,
 'Banking': 16,
 'BusinessServices': 91,
 'Cancer': 504,
 'Capricorn': 215,
 'Communications-Media': 99,
 'Consulting': 21,
 'Education': 270,
 'Engineering': 127,
 'Fashion': 1622,
 'Gemini': 150,
 'HumanResources': 2,
 'Internet': 118,
 'InvestmentBanking': 70,
 'Law': 11,
 'LawEnforcement-Security': 10,
 'Leo': 301,
 'Libra': 491,
 'Marketing': 156,
 'Museums-Libraries': 17,
 'Non-Profit': 71,
 'Pisces': 454,
 'Publishing': 4,
 'Religion': 9,
 'Sagittarius': 1097,
 'Science': 63,
 'Scorpio': 971,
 'Sports-Recreation': 80,
 'Student': 1137,
 'Taurus': 812,
 'Technology': 2654,
 'Telecommunications': 2,
 'Virgo': 236,
 'female': 4084,
 'indUnk': 3287,
 'male': 5916}

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
binarizer=MultiLabelBinarizer(classes=sorted(label_counts.keys()))

In [ ]:
Y=binarizer.fit_transform(data.labels)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2)

In [ ]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
model=LogisticRegression(solver='lbfgs')

In [ ]:
model=OneVsRestClassifier(model)

In [ ]:
model.fit(Xtrain,Ytrain)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [ ]:
Ypred=model.predict(Xtest)

In [ ]:
Ypred_inversed = binarizer.inverse_transform(Ypred)
y_test_inversed = binarizer.inverse_transform(Ytest)

In [ ]:
for i in range(5):
    print('Text:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        Xtest[i],
        ','.join(y_test_inversed[i]),
        ','.join(Ypred_inversed[i])
    ))

Text:	  (0, 605190)	1
  (0, 69693)	1
  (0, 487360)	1
  (0, 312628)	1
  (0, 607406)	1
  (0, 52528)	1
  (0, 420587)	1
  (0, 332880)	1
  (0, 450189)	1
  (0, 113776)	1
  (0, 412619)	1
  (0, 564667)	1
  (0, 632385)	1
  (0, 477858)	1
  (0, 529247)	1
  (0, 26777)	1
  (0, 567161)	1
  (0, 229515)	1
  (0, 491836)	1
  (0, 403052)	1
  (0, 218079)	1
  (0, 51214)	1
  (0, 308208)	1
  (0, 14389)	1
  (0, 220536)	1
  :	:
  (0, 55023)	1
  (0, 40184)	1
  (0, 453681)	1
  (0, 573606)	1
  (0, 152193)	1
  (0, 267919)	1
  (0, 427535)	1
  (0, 308422)	1
  (0, 360143)	1
  (0, 584813)	1
  (0, 332961)	1
  (0, 634787)	1
  (0, 437937)	1
  (0, 556628)	1
  (0, 628198)	1
  (0, 84110)	1
  (0, 458634)	1
  (0, 11268)	1
  (0, 445507)	1
  (0, 532759)	1
  (0, 156673)	1
  (0, 82912)	1
  (0, 54919)	1
  (0, 26780)	1
  (0, 127471)	1
True labels:	27,Pisces,Technology,male
Predicted labels:	27,Pisces,Technology,male


Text:	  (0, 593438)	1
  (0, 604317)	1
  (0, 94784)	1
  (0, 9902)	1
  (0, 604319)	1
  (0, 9905)	1
  (0, 593782)	1
True labels:	36,Aries,Fashion,male
Predicted labels:	male


Text:	  (0, 312628)	1
  (0, 226708)	1
  (0, 421129)	1
  (0, 319058)	1
  (0, 502027)	1
  (0, 332005)	1
  (0, 155847)	1
  (0, 275341)	1
  (0, 465207)	1
  (0, 306682)	1
  (0, 621438)	1
  (0, 558082)	1
  (0, 363386)	1
  (0, 489028)	1
  (0, 373308)	1
  (0, 341960)	1
  (0, 219524)	1
  (0, 348281)	1
  (0, 616967)	1
  (0, 127378)	1
  (0, 421888)	1
  (0, 487123)	1
  (0, 524871)	1
  (0, 114950)	1
  (0, 546206)	1
  :	:
  (0, 115012)	1
  (0, 112718)	1
  (0, 332725)	1
  (0, 128725)	1
  (0, 621834)	1
  (0, 363718)	1
  (0, 155976)	1
  (0, 421218)	1
  (0, 219863)	1
  (0, 502138)	1
  (0, 373443)	1
  (0, 422001)	1
  (0, 304778)	1
  (0, 348395)	1
  (0, 59167)	1
  (0, 226767)	1
  (0, 524901)	1
  (0, 552060)	1
  (0, 348340)	1
  (0, 319991)	1
  (0, 508786)	1
  (0, 506481)	1
  (0, 500758)	1
  (0, 492882)	1
  (0, 489041)	1
True labels:	34,Sagittarius,female,indUnk
Predicted labels:	female,indUnk


Text:	  (0, 502027)	1
  (0, 162313)	1
  (0, 325781)	1
  (0, 418584)	1
  (0, 179224)	1
  (0, 466786)	1
  (0, 167646)	1
  (0, 9340)	1
  (0, 42025)	1
  (0, 636616)	1
  (0, 588302)	1
  (0, 474786)	1
  (0, 549460)	1
  (0, 71271)	1
  (0, 129685)	1
  (0, 443330)	1
  (0, 550655)	1
  (0, 75605)	1
  (0, 109851)	1
  (0, 490009)	1
  (0, 399049)	1
  (0, 37239)	1
  (0, 152858)	1
  (0, 135316)	1
  (0, 10710)	1
  :	:
  (0, 166571)	1
  (0, 98558)	1
  (0, 71343)	1
  (0, 367218)	1
  (0, 340127)	1
  (0, 488425)	1
  (0, 71334)	1
  (0, 80423)	1
  (0, 536995)	1
  (0, 183111)	1
  (0, 601880)	1
  (0, 604242)	1
  (0, 10786)	1
  (0, 577552)	1
  (0, 501483)	1
  (0, 138481)	1
  (0, 490175)	1
  (0, 75734)	1
  (0, 168697)	1
  (0, 95751)	1
  (0, 554573)	1
  (0, 475012)	1
  (0, 131926)	1
  (0, 76440)	1
  (0, 281915)	1
True labels:	15,Aquarius,Student,female
Predicted labels:	15,Student,female


Text:	  (0, 209803)	1
  (0, 607406)	1
  (0, 192891)	1
  (0, 529247)	1
  (0, 334172)	1
  (0, 222683)	1
  (0, 244614)	1
  (0, 375481)	1
  (0, 350159)	1
  (0, 31409)	1
  (0, 50417)	1
  (0, 389210)	1
  (0, 440127)	1
  (0, 374716)	1
  (0, 114795)	1
  (0, 227615)	1
  (0, 84403)	1
  (0, 343748)	1
  (0, 480939)	1
  (0, 408245)	1
  (0, 267521)	1
  (0, 201216)	1
  (0, 607863)	1
  (0, 227048)	1
  (0, 421888)	1
  :	:
  (0, 350441)	1
  (0, 457163)	1
  (0, 422112)	1
  (0, 642689)	1
  (0, 599164)	1
  (0, 333540)	1
  (0, 301922)	1
  (0, 354021)	1
  (0, 269363)	1
  (0, 409110)	1
  (0, 548124)	1
  (0, 84517)	1
  (0, 638842)	1
  (0, 114814)	1
  (0, 125690)	1
  (0, 548093)	1
  (0, 23838)	1
  (0, 87335)	1
  (0, 322996)	1
  (0, 393060)	1
  (0, 343918)	1
  (0, 227253)	1
  (0, 410623)	1
  (0, 201303)	1
  (0, 50761)	1
True labels:	17,Pisces,Student,female
Predicted labels:	Student,female

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

def print_evaluation_scores(Ytest, Ypred):
    print('Accuracy score: ', accuracy_score(Ytest, Ypred))
    print('F1 score: ', f1_score(Ytest, Ypred, average='micro'))
    print('Average precision score: ', average_precision_score(Ytest, Ypred, average='micro'))
    print('Average recall score: ', recall_score(Ytest, Ypred, average='micro'))

In [ ]:
print_evaluation_scores(Ytest, Ypred)

Accuracy score:  0.307
F1 score:  0.6282889733840304
Average precision score:  0.4444294993932039
Average recall score:  0.516375